:root {
  --color-primary: #584a99;
  --color-secondary: #efe8f6;
  --color-light: #f7f7f7;
  --color-error: #f75e4b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1400px;
  margin: auto;
}

@media (min-width: 319.999px) and (max-width: 425.999px) {
  header {
    color: var(--color-primary);
    padding: 30px 0;
  }

  header h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #products > div {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
  }

  #products img {
    width: 300px;
    border-radius: 25px;
  }

  #product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-secondary);
    width: 100%;
    margin: 30px auto;
    border-radius: 25px;
    height: 120px;
    padding: 25px;
  }

  #product-info h3 {
    color: var(--color-primary);
    font-size: 1.3rem;
  }

  #product-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #product-info span {
    font-size: 1.1rem;
    color: gray;
  }

  #product-info button {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 20px;
    transition: all 0.2 ease-in;
  }

  #product-info button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart {
    display: flex;
    flex-direction: column;
  }

  #cart h3 {
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list {
    width: 90%;
    margin: auto;
  }

  #cart-list h5 {
    color: var(--color-error);
    border: 2px solid var(--color-error);
    padding: 30px 0;
    text-align: center;
    border-radius: 25px;
    font-size: 1.3rem;
    margin: 30px auto;
    width: 100%;
  }

  #cart-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-light);
    padding: 20px;
    width: 100%;
    margin: 30px auto;
    border-radius: 25px;
  }

  #cart-list img {
    width: 60px;
    border-radius: 50%;
  }

  #cart-info {
    text-align: center;
  }

  #cart-info h4 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  #cart-info p {
    color: gray;
  }

  #cart-control div {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  #cart-control div button {
    background: var(--color-secondary);
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0, 2s all ease-in;
  }

  #cart-control div button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart-control > button {
    background-color: #fff;
    border: 1px solid var(--color-error);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: var(--color-error);
    cursor: pointer;
    transition: 0.2s all ease-in;
  }

  #cart-control > button:hover {
    background-color: var(--color-error);
    color: #fff;
  }

  #total-price {
    border: 2px solid var(--color-secondary);
    padding: 20px;
    border-radius: 20px;
    color: gray;
    width: 90%;
    margin: auto;
  }

  #total-price span {
    color: var(--color-primary);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    color: var(--color-primary);
    padding: 30px 0;
  }

  header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #products > div {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
  }

  #products img {
    width: 300px;
    border-radius: 25px;
  }

  #product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-secondary);
    width: 100%;
    margin: 30px auto;
    border-radius: 25px;
    height: 120px;
    padding: 25px;
  }

  #product-info h3 {
    color: var(--color-primary);
    font-size: 1.3rem;
  }

  #product-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #product-info span {
    font-size: 1.1rem;
    color: gray;
  }

  #product-info button {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 20px;
    transition: all 0.2 ease-in;
  }

  #product-info button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart {
    display: flex;
    flex-direction: column;
  }

  #cart h3 {
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list {
    width: 100%;
    margin: auto;
  }

  #cart-list h5 {
    color: var(--color-error);
    border: 2px solid var(--color-error);
    padding: 30px 0;
    text-align: center;
    border-radius: 25px;
    font-size: 1.3rem;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-light);
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    margin: 30px auto;
  }

  #cart-list img {
    width: 60px;
    border-radius: 50%;
  }

  #cart-info {
    text-align: center;
  }

  #cart-info h4 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  #cart-info p {
    color: gray;
  }

  #cart-control div {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  #cart-control div button {
    background: var(--color-secondary);
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0, 2s all ease-in;
  }

  #cart-control div button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart-control > button {
    background-color: #fff;
    border: 1px solid var(--color-error);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: var(--color-error);
    cursor: pointer;
    transition: 0.2s all ease-in;
  }

  #cart-control > button:hover {
    background-color: var(--color-error);
    color: #fff;
  }

  #total-price {
    border: 2px solid var(--color-secondary);
    padding: 20px;
    border-radius: 20px;
    color: gray;
    width: 90%;
    margin: auto;
  }

  #total-price span {
    color: var(--color-primary);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    color: var(--color-primary);
    padding: 30px 0;
  }

  header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  main {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
  }

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #products > div {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
  }

  #products img {
    width: 300px;
    border-radius: 25px;
  }

  #product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-secondary);
    width: 100%;
    margin: 30px auto;
    border-radius: 25px;
    height: 120px;
    padding: 25px;
  }

  #product-info h3 {
    color: var(--color-primary);
    font-size: 1.3rem;
  }

  #product-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #product-info span {
    font-size: 1.1rem;
    color: gray;
  }

  #product-info button {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 20px;
    transition: all 0.2 ease-in;
  }

  #product-info button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart {
    width: 100%;
  }

  #cart h3 {
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list {
    width: 100%;
    margin: auto;
  }

  #cart-list h5 {
    color: var(--color-error);
    border: 2px solid var(--color-error);
    padding: 30px 0;
    text-align: center;
    border-radius: 25px;
    font-size: 1.3rem;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-light);
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    margin: 30px auto;
  }

  #cart-list img {
    width: 50px;
    border-radius: 50%;
  }

  #cart-info {
    text-align: center;
  }

  #cart-info h4 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  #cart-info p {
    color: gray;
  }

  #cart-control div {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  #cart-control div button {
    background: var(--color-secondary);
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0, 2s all ease-in;
  }

  #cart-control div button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart-control > button {
    background-color: #fff;
    border: 1px solid var(--color-error);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: var(--color-error);
    cursor: pointer;
    transition: 0.2s all ease-in;
  }

  #cart-control > button:hover {
    background-color: var(--color-error);
    color: #fff;
  }

  #total-price {
    border: 2px solid var(--color-secondary);
    padding: 20px;
    border-radius: 20px;
    color: gray;
    width: 90%;
    margin: auto;
  }

  #total-price span {
    color: var(--color-primary);
  }
}

@media (min-width: 1440px) {
    header {
    color: var(--color-primary);
    padding: 30px 0;
  }

  header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  main {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
  }

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #products > div {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
  }

  #products img {
    width: 300px;
    border-radius: 25px;
  }

  #product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-secondary);
    width: 100%;
    margin: 30px auto;
    border-radius: 25px;
    height: 120px;
    padding: 25px;
  }

  #product-info h3 {
    color: var(--color-primary);
    font-size: 1.3rem;
  }

  #product-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #product-info span {
    font-size: 1.1rem;
    color: gray;
  }

  #product-info button {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 20px;
    transition: all 0.2 ease-in;
  }

  #product-info button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart {
    width: 100%;
  }

  #cart h3 {
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list {
    width: 100%;
    margin: auto;
  }

  #cart-list h5 {
    color: var(--color-error);
    border: 2px solid var(--color-error);
    padding: 30px 0;
    text-align: center;
    border-radius: 25px;
    font-size: 1.3rem;
    margin: 30px auto;
    width: 90%;
  }

  #cart-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-light);
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    margin: 30px auto;
  }

  #cart-list img {
    width: 50px;
    border-radius: 50%;
  }

  #cart-info {
    text-align: center;
  }

  #cart-info h4 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  #cart-info p {
    color: gray;
  }

  #cart-control div {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  #cart-control div button {
    background: var(--color-secondary);
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0, 2s all ease-in;
  }

  #cart-control div button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40%;
  }

  #cart-control > button {
    background-color: #fff;
    border: 1px solid var(--color-error);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: var(--color-error);
    cursor: pointer;
    transition: 0.2s all ease-in;
  }

  #cart-control > button:hover {
    background-color: var(--color-error);
    color: #fff;
  }

  #total-price {
    border: 2px solid var(--color-secondary);
    padding: 20px;
    border-radius: 20px;
    color: gray;
    width: 90%;
    margin: auto;
  }

  #total-price span {
    color: var(--color-primary);
  }
}